.input-group > .input-group-btn:not(:last-child) > .btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 0;
}
#map_canvas {
	width: 100%;
	height: 400px !important;
	top: 0 !important;
	margin: 0 0 10px 0;
	padding: 0;
	display: none;
}